/* chunky-blockquotes.css */

.markdown-preview-view blockquote,
.HyperMD-quote {
  border-left: 10px solid #ff2bd6 !important;
  background: #111;
  color: #fff;
  padding: 1em;
  margin: 1.5em 0;
  box-shadow: 6px 6px 0 #39ff14;
  font-size: 1.05em;
}

.markdown-preview-view blockquote p {
  margin: 0.3em 0;
}