/* brutalist-links.css */

.markdown-preview-view a,
.cm-hmd-internal-link,
.cm-link {
  color: #000 !important;
  background: #39ff14;
  padding: 0.05em 0.25em;
  font-weight: 800;
  text-decoration: none !important;
  box-shadow: 3px 3px 0 #ff2bd6;
}

.markdown-preview-view a:hover {
  background: #ff2bd6;
  box-shadow: 3px 3px 0 #00e5ff;
}