/* loud-lists.css */

.markdown-preview-view ul li::marker,
.markdown-preview-view ol li::marker {
  color: #ff2bd6;
  font-weight: 900;
}

.markdown-preview-view li {
  margin: 0.35em 0;
}

.markdown-preview-view ul {
  list-style-type: square;
}